{% extends 'master.html' %}

{% block content %}

    <h2>Employee Infromation</h2>

     <a href="{% url 'emp_add' %}"></a><br>

<table border="=1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Action</th>
    </tr>

     {% for x in emp %}
    <tr>
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.salary}}</td>
        <td>{{x.department}}</td>
    
        <td>
         <a href="{%url 'emp_update' x.id %}">
              <button type="button">Update</button>
         </a>
         <a href="{%url 'emp_delete' x.id %}">
               <button type="button">Delete</button>
         </a>
        </td> 
    </tr>
    {% endfor %}
</table>

{% endblock %}