{% extends 'master.html' %}


{% block content %}

    <h2>Update Details</h2><br>
    <form method="POST">
    {% csrf_token %}
    Name:<input type="text" name="name" value="{{ emp.name }}"><br><br>
    Email:<input type="text" name="email" value="{{ emp.email }}"><br><br>
    Salary:<input type="text" name="salary" value="{{ emp.salary }}"><br><br>
    Department:<input type="text" name="department" value="{{ emp.department }}"><br><br>
    
    <button type="submit">Update</button>

</form>
{% endblock %}