{% extends "stud/master.html" %}

{% block title %} Student list page {% endblock %}

{% block content %}
<div >
  <h2>Student Details</h2>
  <form action="{% url 'create_list' %}" method="POST">
    {% csrf_token %}
   
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name"><br>
   
    
    
      <label for="rollno">Roll No.:</label>
      <input type="text" class="form-control"  name="rollno">
    <br>

     
      <label for="Marks">Marks:</label>
      <input type="text" class="form-control" name="marks">
    <br>
   
    <button type="submit" class="btn btn-default">ADD</button>
  </form><br>
<table class="table" border="1">
<thead>
    <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Marks</th>
        <th>Action</th>
        
    </tr>
</thead>
<tbody>
    {% for stud in stud1 %}
    <tr>
        <td>{{stud.name}}</td>
        <td>{{stud.rollno}}</td>
        <td>{{stud.marks}}</td>
        <td>
            <a href="{%url 'delete_list' stud.id %}">
              <button type="button">Delete</button>
            </a>
            <a href="{%url 'update_list' stud.id %}">
               <button type="button">Update</button>
            </a>
        </td>
    </tr>
     {% endfor %}
</tbody>

</table>
</div>
{% endblock %}